# Archivos y directorios de Go
*.log
*.tmp
*.swp
*.swo
*.out
*.test
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.obj
*.cgo
*.cache
*.vendor
/bin
/pkg
/.idea
/.vscode
/.go_workspace
/.go
/.env

# Archivos y directorios de NestJS
node_modules/
dist/
*.log
*.tmp
*.swp
*.swo
*.env
*.db
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
/.pnp
.pnp.js
.pnp.cjs
/.yarn
/.yarn-cache

# Archivos y directorios de Java
*.class
*.jar
*.war
*.ear
*.db
*.log
*.tmp
*.swp
*.swo
*.project
*.classpath
/.idea
/.vscode
/.gradle
/build
/out
/target
/.mvn
/.settings
/.classpath
/.project

# Configuración general
*.DS_Store
*.env
*.local
*.lock
